.nav-container {
  background: #ffffff !important;
  padding: 10px 0px;
}
.nav-bar {
  padding: 0!important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#menu-container {
  color: #6c6c6c;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#logo {
  height: 37px;
}
